/* estilosBotones.css */

.adm-caracteristicas,
.adm-tours,
.adm-categorias {
    color: #24306E;
    padding: 2% 0% 2% 0%;
    margin: 4% 5% 0% 4%;
    font-weight: bolder;
    font: 2rem/1rem "Open Sans", sans-serif;
    border-bottom: 2px solid rgba(36, 48, 110, 1);
}

.cont-ppal {
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0% 3% 4%;
    margin: 2% 0% 1% 0%;
}

.btn-car1,
.btn-cat2,
.btn-tour3 {
    display: flex;
    border-radius: 5px;
    box-shadow: #a5d8ec 0px 2px 4px,  #aecdd9 0px 4px 11px;
    border: 0,5px solid #7fd2f2;
    padding: 0% 0% 0% 0%;
    margin: 2% 2% 3% 1%;
}
  
.btn-car1:hover ,
.btn-cat2:hover ,
.btn-tour3:hover {
    border: 0.5px solid  #7fd2f2;
    /* padding: 0% 0% 0% 0%; */
    /* margin: 2% 2% 3% 1%;  */
    transition: .4s ease;
} 
  
.header-table {
    display: flex;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2% 0% 2% 2%;
    margin: 2% 2% 3% 2%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-around;
}

  .pagination-container {
    display: flex;
    justify-content: center;
    margin: 3% 3% 3% 3%;  
}

