/* estilosBotones.css */

.cont-ppal {
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0% 3% 4%;
    margin: 2% 0% 1% 0%;
  }

.btn-car1,
.btn-cat2,
.btn-tour3 {

    border-radius: 5px;
    box-shadow: #a5d8ec 0px 2px 4px,  #aecdd9 0px 4px 11px;
    border: 0,5px solid #7fd2f2;
    margin: 2% 2% 3% 1%;
  }
  



 

 